@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Vollkorn&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   font-family: vollkorn, sans-serif;
   font-weight: 300;
   color: #2f4f4f;
}

/* headings and logo*/

h1,
h2 {
   font-family: Poppins, sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: #2f4f4f;
}

#logo {
   float: left;
   font-size: 280%;
   margin-left: 30px;
   text-transform: initial;
}

/* Navigation Links*/

#menu {
   font-size: 110%;
   letter-spacing: 4px;
}

#menu,
#logo {
   line-height: 75px;
}

#menu li {
   float: right;
   list-style-type: none;
   margin-right: 30px;
}

#menu a {
   text-decoration: none;
   color: inherit;
}

#menu a:hover {
   border-bottom: 1px solid #2f4f4f;
}

.active {
   border-bottom: 1px solid #2f4f4f;
}

/* Hero Image and create animation*/

#hero-outer {
   height: 570px;
   width: 100%;
   overflow: hidden;
}

#hero-image {
   height: 600px;
   width: 100%;
   background: url('../images/Hero5_image.jpg') no-repeat center center;
   background-size: auto;
   animation-name: hero-image-zoom;
   animation-duration: 8s;
   animation-fill-mode: forward;
}

@keyframes hero-image-zoom {
   from {
      transform: scale(1.3);
   }

   to {
      transform: scale(1);
   }
}

/* section 2 heading, history and popular recipes alignment*/

#section2 {
   height: 600px;
   margin: 30px;
}

.heading2 {
   text-align: center;
   margin-bottom: 20px;
   margin-top: 20px;
   text-transform: initial;
}

#image-left {
   padding-top: 30px;
   width: 50%;
   float: left;

}

#image-right {
   padding-top: 30px;
   width: 50%;
   float: right;

}

/* Add recipe images and style*/

#recipe1-image {
   width: 350px;
   height: 350px;
   border-radius: 50%;
   margin-left: 140px;

}

#recipe2-image {
   width: 350px;
   height: 350px;
   border-radius: 50%;
   margin-left: 140px;
}

.align {
   text-align: center;
}

/* Footer*/

footer {
   height: 150px;
   margin-top: 50px;
}

.social-networks {
   text-align: center;
}

.social-networks>li {
   display: inline;
}

.social-networks i {
   font-size: 160%;
   margin: 1%;
   padding: 5%;
   color: #2f4f4f;
}

/* Hero Image for recipe page*/
#hero2-outer {
   height: 570px;
   width: 100%;
   overflow: hidden;
}

#hero2-image {
   height: 600px;
   width: 100%;
   background: url('../images/recipepage_img.jpg') no-repeat center center;
   background-size: auto;
   animation-name: hero-image-zoom;
   animation-duration: 8s;
   animation-fill-mode: forward;
}

@keyframes hero-image-zoom {
   from {
      transform: scale(1.3);
   }

   to {
      transform: scale(1);
   }
}

/* recipe chicken tikka and Biryani, ingredients and directions */

.recipe1 {
   height: 400px;
   margin: 30px;
}

#alignment{
   text-align: center;
   text-decoration: underline;  
   text-transform: initial; 
}

.head-align{
   text-align: center;
   margin-bottom: 30px;
}

.ingredients-left{
   padding-top: 20px;
   width: 50%;
   float: left;
   height: 50%;
  
}

.list-align{
   margin-left: 60px;
}

.directions-right{
   padding-top: 20px;
   width: 50%;
   float: right; 
   height: 50%;   
}

/* Feedback form*/

.feedback-form{
   margin-top: 50px;
   margin-left: 400px;
   margin-right:400px;
   
}

.feedback-form>h2{
   margin-bottom: 30px;
   text-transform: initial;
}
 
#name{
   border: 1px solid;
   margin-bottom: 10px;
}

#email {
   border: 1px solid;
   margin-bottom: 10px
}

#message{
   border: 1px solid;
   margin-bottom: 10px
}

/* Hero Image -Feedback Page*/

#hero3-outer {
   height: 570px;
   width: 100%;
   overflow: hidden;
}

#hero3-image {
   height: 600px;
   width: 100%;
   background: url('../images/feedback1page.jpg') no-repeat center center;
   background-size: auto;
   animation-name: hero-image-zoom;
   animation-duration: 8s;
   animation-fill-mode: forward;
}

@keyframes hero-image-zoom {
   from {
      transform: scale(1.3);
   }

   to {
      transform: scale(1);
   }
}

/* Media Queries*/ 

/* For larger to medium screens size from 1200px wide and down */ 

@media screen and (max-width: 1200px) {

   #section2 {
      height: 1200px;
      margin: 30px; 
      width: 80%    
   }

   .heading2{
      text-align: center;
       
   }

   #image-left {
      padding-top: 20px;
      width: 30%;
      float: left;
      margin-left: 20px;
         
   }
   
   #image-right {
      padding-top: 20px;
      width: 30%;
      float: right;
       
   }

   #recipe1-image {
      margin-left: 20px;
   }

   #recipe2-image {
      margin-left: 30px;
   }

   .align {
      text-align: center;

}
   
/* For medium screens sizes from 950px wide and down */ 

@media screen and (max-width: 950px) {
  #menu {
   clear: left;
   float: left;
   margin-left: 30px;
   line-height: 25px;
  }

  #section2 {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
  }

  #image-left {
   width: inherit         
}

#image-right {
   width: inherit  

}

#recipe1-image {
   margin-left: 30px;
   
}

#recipe2-image {
   margin-left: 10px;
 
}

#image-left h3, #image-right h3{   
   width: 100%;
   text-align: center;
}

}
