@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Vollkorn&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   font-family: vollkorn, serif;
   font-weight: 300;
   color: #2f4f4f;
}
 
/* headings and logo*/

h1,
h2, h3 {
   font-family: Poppins, sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: #2f4f4f;
}

#logo {
   float: left;
   font-size: 280%;
   margin-left: 30px;
   text-transform: initial;
}

/* Navigation Links*/

#menu {
   font-size: 110%;
   letter-spacing: 4px;
}

#menu,
#logo {
   line-height: 75px;
}

#menu li {
   float: right;
   list-style-type: none;
   margin-right: 30px;
}

#menu a {
   text-decoration: none;
   color: inherit;
}

#menu a:hover {
   border-bottom: 1px solid #2f4f4f;
}

.active {
   border-bottom: 1px solid #2f4f4f;
}

/* hero Image and create animation*/

#hero-outer {
   height: 570px;
   width: 100%;
   overflow: hidden;
}

#hero-image {
   height: 600px;
   width: 100%;
   background: url('../images/heroimghomepage.jpg') no-repeat center center;
   background-size: auto;
   animation-name: hero-image-zoom;
   animation-duration: 8s;
   
}

@keyframes hero-image-zoom {
   from {
      transform: scale(1.3);
   }

   to {
      transform: scale(1);
   }
}

/* section two heading, history and alignment of the same */

#section-two {
   height: 250px;
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 20px;
  }
  
#heading-two {
   text-align: center;
   margin-bottom: 20px;
   text-transform: initial;
}

/* section three for dish description*/

#section-three {
   height: 250px;
   margin-left: 200px;
   margin-right: 200px;
   
}

#heading-three {
   text-align: center;
   margin-bottom: 20px;
   text-transform: initial;
}

#heading-four {
   text-align: center;
   margin-bottom: 20px;
   margin-top: 20px;
   text-transform: initial;}

#heading-five {
   text-align: center;
   margin-bottom: 20px;
   margin-top: 20px;
   text-transform: initial;

}

/* Footer*/

footer {
   height: 100px;
   margin-top: 100px;
}

.social-networks {
   text-align: center;
}

.social-networks>li {
   display: inline;
}

.social-networks i {
   font-size: 160%;
   margin: 1%;
   padding: 5%;
   color: #2f4f4f;
}

/* Hero Image for recipe page*/
#hero-recipe-outer {
   height: 570px;
   width: 100%;
   overflow: hidden;
}

#hero-recipe-image {
   height: 600px;
   width: 100%;
   background: url('../images/heroimgrecipepage.jpg') no-repeat center center;
   background-size: auto;
   animation-name: hero-image-zoom;
   animation-duration: 8s;
   
}

@keyframes hero-image-zoom {
   from {
      transform: scale(1.3);
   }

   to {
      transform: scale(1);
   }
}

/* recipe chicken tikka and Biryani, ingredients and directions */

#recipe-one {
   height: 520px;
   margin-top: 20px;
   margin-left: 100px;
   margin-right: 100px;
}

#alignment-one{
   text-align: center;
   text-decoration: underline;  
   text-transform: initial; 
   margin-bottom: 20px;
}
   
#recipe-two {
   height: 770px;
   margin-top: 20px;
   margin-left: 100px;
   margin-right: 100px;
}

#alignment-two{
   text-align: center;
   text-decoration: underline;  
   text-transform: initial; 
   margin-bottom: 20px;       
}

.head-align{
   text-align: center;
   margin-bottom: 20px;
   text-transform: initial;
}

/* Feedback form*/

#feedback-form{
   height: 400px;
   margin-top: 30px;
   margin-left: 500px;
   margin-right: 500px;
    
}

.feedback-form>h2{
   margin-bottom: 30px;
   text-transform: initial;
}
 
#name{
   border: 1px solid;
   margin-bottom: 10px;
}

#email {
   border: 1px solid;
   margin-bottom: 10px
}

#message{
   border: 1px solid;
   margin-bottom: 10px
}

#button{
   background-color: grey;
   color: black;
   padding: 10px 20px;
   margin: 4px 2px;
}

/* Hero Image -Feedback Page*/

#hero-three-outer {
   height: 570px;
   width: 100%;
   overflow: hidden;
}

#hero-three-image {
   height: 600px;
   width: 100%;
   background: url('../images/heroimgfeedbackpage.jpg') no-repeat center center;
   background-size: auto;
   animation-name: hero-image-zoom;
   animation-duration: 8s;
   
}

@keyframes hero-image-zoom {
   from {
      transform: scale(1.3);
   }

   to {
      transform: scale(1);
   }
}

/* Media Queries*/ 

/* For larger to medium screens size from 1200px wide and down */ 

@media screen and (max-width: 1200px) {

#section-two {
   height: 330px;

}   

   }
   
/* For medium screens sizes from 950px wide and down */ 

@media screen and (max-width: 950px) {

  #menu {
   clear: left;
   float: left;
   margin-left: 30px;
   line-height: 25px;
  }

#section-two {
   margin-top: 20px;
   height: 600px;
}

#section-three{       
   height: 600px;
}
 
  
}

/* For smaller screens sizes from 700px wide and down */

@media screen and (max-width: 700px) {

   #section-two {
      margin-top: 20px;
      height: 1200px;}

   #section-three {       
         height: 1200px;
      }



}