@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Vollkorn&display=swap');
 
* {
   margin: 0;
   padding: 0;
   border: 0;
}

body{
   font-family: vollkorn, sans-serif;
   font-weight: 300;
   color: #2f4f4f;
}

/* headings and logo*/

h1, h2{
   font-family: Poppins, sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: #2f4f4f;
}

#logo{
   float: left;
   font-size: 280%;
   margin-left: 30px;
   text-transform: initial;
}

/* Navigation Links*/

#menu
{
font-size: 110%;
letter-spacing: 4px;
}

#menu, #logo {
   line-height: 75px;
}

#menu li{
   float: right;
   list-style-type: none;
   margin-right: 30px;
}

#menu a {
   text-decoration: none;
   color: inherit;
}

#menu a:hover {
   border-bottom: 1px solid #2f4f4f;
}

.active {
   border-bottom: 1px solid #2f4f4f;
}

/* Hero Image and create animation*/

#hero-outer{
   height: 570px;
   width:100%;
   overflow: hidden;
}

#hero-image{
   height: 600px;
   width:100%;
   background: url('../images/Hero5_image.jpg') no-repeat center center;
   background-size: auto;
   animation-name: hero-image-zoom;
   animation-duration: 8s;
   animation-fill-mode: forward;
}

@keyframes hero-image-zoom {
   from {
       transform: scale(1.3);
   }
   to {
       transform: scale(1);
   }
}

/* section 2 heading, history and popular recipes alignment*/

#section2{
   height: 600px;
   margin: 30px;
}

.heading2 {
   text-align: center;
   margin-bottom: 20px;
   margin-top: 20px;
   text-transform: initial;
}

#image-left{
   padding-top: 30px;
   width: 50%;
   float: left;
    
}

#image-right{
   padding-top: 30px;
   width: 50%;
   float: right;
    
}
/* Add recipe images and style*/

#recipe1-image{
   width: 350px;
   height: 350px;
   border-radius: 50%;
   margin-left: 140px;   
    
}

#recipe2-image{
   width: 350px;
   height: 350px;
   border-radius: 50%;
   margin-left: 140px;    
   }

.align{
   text-align: center;
}












